<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.positions.title') %></h3>
    <div class="card-tools">
      <%= link_to t('admin.positions.new'), new_admin_position_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('admin.positions.table.id') %></th>
          <th><%= t('admin.positions.table.code') %></th>
          <th><%= t('admin.positions.table.name') %></th>
          <th><%= t('admin.positions.table.status') %></th>
          <th style="width: 150px"><%= t('common.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @positions.each do |position| %>
          <tr>
            <td><%= position.id %></td>
            <td><%= position.code %></td>
            <td><%= position.name %></td>
            <td><span class="badge bg-<%= position.active? ? 'success' : 'secondary' %>"><%= position.status.humanize %></span></td>
            <td>
              <%= link_to t('common.show'), admin_position_path(position), class: "btn btn-sm btn-info" %>
              <%= link_to t('common.edit'), edit_admin_position_path(position), class: "btn btn-sm btn-warning" %>
              <%= button_to t('common.delete'), admin_position_path(position), method: :delete, data: { turbo_confirm: t('common.confirm_delete') }, class: "btn btn-sm btn-danger", form: { style: "display: inline-block;" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
