<%= form_with(model: [:admin, vehicle], local: true) do |form|\
 %>\n  <% if vehicle.errors.any?\
 %>\n    <div id=\"error_explanation\">\n      <h2><%= pluralize(vehicle.errors.count, t("common.error")) %> <%= t("common.prohibited_from_saving", model: "vehicle") %></h2>\n\n      <ul>\n        <% vehicle.errors.full_messages.each do |message|\
 %>\n          <li><%= message %></li>\n        <% end %>\n      </ul>\n    </div>\n  <% end %>\n\n  <div class=\"field\">\n    <%= form.label :plate, t('activerecord.attributes.vehicle.plate') %>\n    <%= form.text_field :plate %>\n  </div>\n
  <div class=\"field\">\n    <%= form.label :description, t('activerecord.attributes.vehicle.description') %>\n    <%= form.text_area :description %>\n  </div>\n
  <div class=\"field\">\n    <%= form.label :details, t('activerecord.attributes.vehicle.details') %>\n    <%= form.text_area :details %>\n  </div>\n
  <div class=\"field\">\n    <%= form.label :vehicle_type_id, t('activerecord.attributes.vehicle.vehicle_type') %>\n    <%= form.collection_select :vehicle_type_id, VehicleType.order(:name), :id, :name, prompt: true %>\n  </div>\n\n  <div class=\"actions\">\n    <%= form.submit %>\n  </div>\n<% end %>\n