<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.vehicles.title') %></h3>
    <div class="card-tools">
      <%= link_to t('admin.vehicles.new'), new_admin_vehicle_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('admin.vehicles.table.plate') %></th>
          <th><%= t('admin.vehicles.table.description') %></th>
          <th><%= t('admin.vehicles.table.details') %></th>
          <th><%= t('admin.vehicles.table.vehicle_type') %></th>
          <th><%= t('admin.vehicles.table.status') %></th>
          <th style="width: 150px"><%= t('common.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @vehicles.each do |vehicle| %>
          <tr>
            <td><%= vehicle.plate %></td>
            <td><%= vehicle.description %></td>
            <td><%= vehicle.details %></td>
            <td><%= vehicle.vehicle_type.name %></td>
            <td><span class="badge bg-<%= vehicle.status == 'active' ? 'success' : 'secondary' %>"><%= vehicle.status.humanize %></span></td>
            <td>
              <%= link_to t('common.show'), admin_vehicle_path(vehicle), class: "btn btn-sm btn-info" %>
              <%= link_to t('common.edit'), edit_admin_vehicle_path(vehicle), class: "btn btn-sm btn-warning" %>
              <%= link_to t('common.delete'), admin_vehicle_path(vehicle), data: { turbo_method: :delete, turbo_confirm: t('common.confirm_delete') }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
