<%= form_with model: [:admin, @user], local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :personal_id, t('activerecord.attributes.personal.first_name'), class: "form-label" %>
    <%= f.select :personal_id, options_from_collection_for_select(@personals, :id, :full_name, @user.personal_id), 
        { prompt: 'Select Personal' }, { class: "form-select select2", required: true, id: "user_personal_id" } %>
  </div>

  <div class="mb-3">
    <%= f.label :email, t('activerecord.attributes.user.email'), class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true, id: "user_email" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, t('activerecord.attributes.user.password'), class: "form-label" %>
    <%= f.password_field :password, class: "form-control", required: !@user.persisted? %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t('activerecord.attributes.user.password'), class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", required: !@user.persisted? %>
  </div>

  <div class="mb-3">
    <%= f.label :role_id, t('activerecord.attributes.user.role'), class: "form-label" %>
    <%= f.select :role_id, options_from_collection_for_select(@roles, :id, :name, @user.role_id), 
        { prompt: t('admin.users.table.role') }, { class: "form-select select2", required: true } %>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to t('common.cancel'), admin_users_path, class: "btn btn-secondary" %>
    <%= f.submit t('common.save'), class: "btn btn-primary" %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  const personals = <%= raw @personals.to_json(only: [:id, :email]) %>;
  
  $('#user_personal_id').on('change', function() {
    const selectedId = parseInt($(this).val());
    const personal = personals.find(p => p.id === selectedId);

    if (personal && personal.email) {
      $('#user_email').val(personal.email);
    }
  });
});
</script>
