<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.users.edit') %></h3>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @user], local: true do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :email, t('activerecord.attributes.user.email'), class: "form-label" %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :password, t('activerecord.attributes.user.password'), class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, t('activerecord.attributes.user.password'), class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :role_id, t('activerecord.attributes.user.role'), class: "form-label" %>
        <%= f.select :role_id, options_from_collection_for_select(@roles, :id, :name, @user.role_id), 
            {}, { class: "form-select", required: true } %>
      </div>

      <div class="mb-3">
        <%= f.label :active, t('admin.users.table.status'), class: "form-label" %>
        <%= f.check_box :active, class: "form-check-input" %>
        <%= f.label :active, t('admin.users.table.active'), class: "form-check-label" %>
      </div>

      <h4 class="mt-4 mb-3"><%= t('admin.personals.details') %></h4>
      <%= f.fields_for :personal do |p| %>
        <div class="mb-3">
          <%= p.label :first_name, t('activerecord.attributes.personal.first_name'), class: "form-label" %>
          <%= p.text_field :first_name, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= p.label :last_name, t('activerecord.attributes.personal.last_name'), class: "form-label" %>
          <%= p.text_field :last_name, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= p.label :ci, t('activerecord.attributes.personal.ci'), class: "form-label" %>
          <%= p.text_field :ci, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= p.label :email, t('activerecord.attributes.personal.email'), class: "form-label" %>
          <%= p.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= p.label :phone, t('activerecord.attributes.personal.phone'), class: "form-label" %>
          <%= p.text_field :phone, class: "form-control" %>
        </div>
      <% end %>

      <div class="d-flex justify-content-between">
        <%= link_to t('common.cancel'), admin_users_path, class: "btn btn-secondary" %>
        <%= f.submit t('common.save'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
