<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.users.title') %></h3>
    <div class="card-tools">
      <%= link_to t('admin.users.new'), new_admin_user_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px"><%= t('admin.users.table.id') %></th>
          <th><%= t('admin.users.table.full_name') %></th>
          <th><%= t('admin.users.table.email') %></th>
          <th><%= t('admin.users.table.role') %></th>
          <th><%= t('admin.users.table.status') %></th>
          <th style="width: 150px"><%= t('common.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><span class="badge bg-secondary"><%= user.role.name %></span></td>
            <td>
              <span class="badge bg-<%= user.active? ? 'success' : 'danger' %>"><%= user.status.titleize %></span>
            </td>
            <td>
              <%= link_to t('common.show'), admin_user_path(user), class: "btn btn-sm btn-info" %>
              <%= link_to t('common.edit'), edit_admin_user_path(user), class: "btn btn-sm btn-warning" %>
              <%= button_to t('common.delete'), admin_user_path(user), method: :delete, data: { turbo_confirm: t('common.confirm_delete') }, class: "btn btn-sm btn-danger", form: { style: "display: inline-block;" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
