<%= form_with(model: [:admin, vehicle_type], local: true) do |form|
 %>
  <% if vehicle_type.errors.any?
 %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_type.errors.count, t("common.error")) %> <%= t("common.prohibited_from_saving", model: "vehicle type") %></h2>

      <ul>
        <% vehicle_type.errors.full_messages.each do |message|
 %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('activerecord.attributes.vehicle_type.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, t('activerecord.attributes.vehicle_type.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>