<h1><%= t('admin.vehicle_types.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('admin.vehicle_types.table.name') %></th>
      <th><%= t('admin.vehicle_types.table.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_types.each do |vehicle_type|
 %>
      <tr>
        <td><%= vehicle_type.name %></td>
        <td><%= vehicle_type.description %></td>
        <td><%= link_to 'Show', admin_vehicle_type_path(vehicle_type) %></td>
        <td><%= link_to 'Edit', edit_admin_vehicle_type_path(vehicle_type) %></td>
        <td><%= link_to 'Destroy', admin_vehicle_type_path(vehicle_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('admin.vehicle_types.new'), new_admin_vehicle_type_path %>
