<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('admin.fuels.title') %></h3>
    <div class="card-tools">
      <%= link_to t('admin.fuels.new'), new_admin_fuel_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('admin.fuels.table.description') %></th>
          <th><%= t('admin.fuels.table.unit_of_measure') %></th>
          <th style="width: 150px"><%= t('common.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @fuels.each do |fuel| %>
          <tr>
            <td><%= fuel.description %></td>
            <td><%= t("activerecord.attributes.fuel.units_of_measure." + fuel.unit_of_measure) %></td>
            <td>
              <%= link_to t('common.show'), admin_fuel_path(fuel), class: "btn btn-sm btn-info" %>
              <%= link_to t('common.edit'), edit_admin_fuel_path(fuel), class: "btn btn-sm btn-warning" %>
              <%= link_to t('common.delete'), admin_fuel_path(fuel), data: { turbo_method: :delete, turbo_confirm: t('common.confirm_delete') }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
